@using GlobalEventNepal.Resource


<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>@Content.PortalToGEN</h1>
                    <p>@Content.ClickCreatePublishText</p>
                    <p><a class="btn btn-lg btn-primary" href="~/Admin/Create" role="button">@Content.CreateAnEvent</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>@Content.MarketYourEvent</h1>
                    <p>@Content.AttractEngageText</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">@Content.LearnMore</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>@Content.KnowWhatsHappeningText</h1>
                    <p>@Content.FindAttendEvent</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">@Content.FindEventsNearYou</a></p>
                </div>
            </div>
        </div>
        <div class="item" id="FeaturedEvents">
          @Html.Partial("~/Views/Home/_ListOfFeaturedEvents.cshtml")
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">@Content.Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">@Content.Next</span>
        </a>
    </div>
</div>
