@using GlobalEventNepal.Resource
@model IEnumerable<GlobalEventNepal.Domain.Entities.Event>

@foreach (var p in Model)
{
    <div class="col-lg-4">
        <img class="img-circle" src="/Images/stupa.jpg" alt="Generic placeholder image">
        <h2>@p.EventName</h2>
        <p>@Content.Location: @p.Location</p>
        <p>@Content.Date: @p.Starts.Date</p>
        <p>@Content.OrganizedBy: @p.Organization</p>
        <p><a class="btn btn-default" href="~/Admin/EventList.cshtml" role="button">@Content.ViewDetails &raquo;</a></p>
    </div>
}